.card_container {
  width: 50%;
  height: 230px;
  padding: 10px;

  @media (min-width: 768px) {
    width: calc(100% / 3);
  }

  @media (min-width: 1024px) {
    width: 25%;
  }

  .card {
    background-color: #eee;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
  }
}

a {
  all: unset;
}
